@import '../../../styles/variables/global';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.content__container {
  height: 66px;
  width: 100%;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  flex-direction: column;
  gap: 10px;
  padding: 10px 16px 10px 10px;
  background-color: $white;

  &.blue {
    border: 1px solid $blue;
  }

  .content__leftContainer {
    display: flex;
    gap: 10px;
  }

  .content__rightContainer {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  .content__subcontainer {
    display: flex;
    flex-direction: column;
  }

  .imageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 46px;
    background-color: $light-grey;
  }

  .content__name {
    margin-bottom: 7px;
  }

  .content__dop {
    font-size: 14px;
    font-weight: 400;
    color: $grey;
  }

  .content__status {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey;
  }
}
