@import "reset";
@import "variables/global";

body {
  font-family: $font-main;
  background-color:  $light-grey;
  color: $dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

a {
  color: $dark;
  transition: color 0.2s ease-in;

  &:visited {
    color: $blue;
  }
}

*:hover {
  transition: background-color 0.2s ease-in;
}
