@import '../../../styles/variables/global';

.navbar__container{
  height: 60px;
  box-shadow: 0 1px 4px 0 rgba(19, 19, 19, 0.10);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: $white;
  transition: background-color 0.2s ease-in;
}

/*
.navbar__search--left {
  display: flex;
  align-items: center;
}

.navbar__search--right {
  display: flex;
  align-items: center;
}
*/

.navbar__container2 {
  position:relative;
}
.navbar__search--oval {
  position:relative;
  z-index:1;
}

.navbar__search--loupe {
  position:absolute;
  top:55%;
  left:35%;
  z-index:2;
}
