@import '../../../styles/variables/global';

.profileButton__container {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  .profileButton__leftContainer {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .profileButton__rightContainer {
    display: flex;
    align-items: center;

  }

  .profileButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    font-size: 14px;
    color: $grey;
    white-space: nowrap;
    transition: background-color 0.2s ease-in;

    &:hover,
    &.activeButton {
      color: $blue;
    }

    .profileButton__icon {
      margin-left: 8px;
    }


  }
  .profileButton:nth-child(2)::before,
  .profileButton:nth-child(3)::before,
  .profileButton:nth-child(4)::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: $grey;
    margin-right: 25px;
  }
}
