@import '../../../styles/variables/global';

.profileInfo__container {
  height: 110px;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(19, 19, 19, 0.10);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  padding: 10px 16px 10px 10px;
  background-color: $white;


  .profileInfo__leftContainer {
    display: flex;
    gap: 10px;
  }

  .profileInfo__rightContainer {
    position: relative;
    margin-left: auto;
  }

  .profileInfo__subcontainer {
    display: flex;
    flex-direction: column;
  }

  .profileInfo__name {
    margin-top: 5px;
  }

  .profileInfo__dop {
    font-size: 12px;
    font-weight: 400;
  }

  .profileInfo__dropdown {
    position: absolute;
    top: 25%;
    left: -212px;
    width: 230px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

    .profileInfo__dropdownItem {
      padding: 10px 20px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        background-color: $light-grey;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
