@import '../../../styles/variables/global';

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__container {
  height: 60px;
  box-shadow: 0 1px 4px 0 rgba(19, 19, 19, 0.10);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 13px;
  background-color: $white;
  transition: background-color 0.2s ease-in;
}

.sidebar__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px 15px 5px;
}

.sidebar__subcontainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.sidebar__checkbox {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sidebar__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $grey;
}

.sidebar__checkbox input[type="checkbox"] {
  /* Скрыть оригинальный чекбокс */
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebar__checkbox label {
  /* Установить размер и положение метки */
  display: inline-block;
  position: relative;
  padding-left: 25px; /* Добавить отступ слева, чтобы создать место для псевдоэлемента ::before */
  cursor: pointer;
}

.sidebar__checkbox label::before {
  /* Создать псевдоэлемент для стилизации границы и заливки */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #CDCDCD; /* Задать цвет границы */
  background-color: $white; /* Задать цвет заливки */
  border-radius: 4px;
}

.sidebar__checkbox input[type="checkbox"]:checked + label::before {
  /* Изменить стиль псевдоэлемента для отмеченного чекбокса */
  background-color: $blue; /* Задать цвет заливки для отмеченного чекбокса */
  border-color: $blue; /* Задать цвет границы для отмеченного чекбокса */
  content: "\2713"; /* Добавить символ галочки в качестве содержимого псевдоэлемента */
  text-align: center; /* Выравнивание символа по центру */
  font-size: 12px; /* Размер шрифта символа */
  line-height: 18px; /* Высота строки равна высоте элемента */
  color: $white; /* Цвет символа */
}

.selectedFriendsCounter {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $grey;
}

.sidebar__btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $grey;
}

.sidebar__actionbtn {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $grey;
}
