@import '../../../styles/variables/global';

.sidebar__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px 15px 5px;

  .sidebar__subcontainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .sidebar__checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .sidebar__label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey;
  }

  .sidebar__checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .sidebar__checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #CDCDCD;
      background-color: $white;
      border-radius: 4px;
    }
  }

  .sidebar__checkbox input[type="checkbox"]:checked + label::before {
    background-color: $blue;
    border-color: $blue;
    content: "\2713";
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: $white;
  }

  .sidebar__counterContainer {
    display: flex;
    gap: 260px;
  }

  .sidebar__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 18px;
    border-radius: 40%;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }

  .sidebar__selectedFriendsCounter {
    @extend .sidebar__counter;
    background-color: $blue;
  }

  .sidebar__defaultFriendsCounter {
    @extend .sidebar__counter;
    background-color: $grey;
    margin-right: 10px;
  }

  .sidebar__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey;
  }

  .sidebar__actionBtn {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey;
  }
}
